name: Manual Dhan Order

on:
  workflow_dispatch:
    inputs:
      strike:
        description: "Strike Price (ex: 25900)"
        required: true
        type: string

      optionType:
        description: "CE or PE"
        required: true
        type: string

      price:
        description: "Entry price"
        required: true
        type: string

jobs:
  run-scripts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Make scripts executable
        run: chmod +x *.sh

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install jq -y

      - name: Download Dhan API Scrip Master
        run: ./instrument.sh

      - name: Run Order Script
        env:
          DHAN_ACCESS_TOKEN: ${{ secrets.DHAN_ACCESS_TOKEN }}
          DHAN_CLIENT_ID: ${{ secrets.DHAN_CLIENT_ID }}
        run: |
          sed -i "s|ACCESS_TOKEN=\"\"|ACCESS_TOKEN=\"${DHAN_ACCESS_TOKEN}\"|g" order.sh
          sed -i "s|DHAN_CLIENT_ID=\"\"|DHAN_CLIENT_ID=\"${DHAN_CLIENT_ID}\"|g" order.sh

          echo "Input Strike: ${{ github.event.inputs.strike }}"
          echo "Input Type  : ${{ github.event.inputs.optionType }}"
          echo "Input Price : ${{ github.event.inputs.price }}"

          ./order.sh \
            "${{ github.event.inputs.strike }}" \
            "${{ github.event.inputs.optionType }}" \
            "${{ github.event.inputs.price }}"
